In [1]:
list1=['Ram','Raheem','Robert']


list2=[25,30,35]

In [2]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

'Robert has age 35'

In [3]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
# {ket:value}

In [33]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}

d1

# keys= 'Ram','Raheem','Robert'
# values= 25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [ ]:
{'Ram':25,'Raheem':30,'Robert':35}

In [ ]:
d2={25:'Ram',30:'Raheem',30:'Robert'}

In [6]:
d4={[2,6,4]:'even',
   (3,5,7):'odd'}

TypeError: unhashable type: 'list'

In [8]:
d3={'even':[2,6,4],
   'odd':(3,5,7)}

In [10]:
d4={(2,6,4):'even',
   (3,5,7):'odd'}
d4

{(2, 6, 4): 'even', (3, 5, 7): 'odd'}

In [13]:
#{'key':<{}>}
d5={'item_list':{'fruits':'apple'}}

d5

{'item_list': {'fruits': 'apple'}}

In [11]:
d6={{'friuts':'Apple'}:'item_list'}

d6

TypeError: unhashable type: 'dict'

In [ ]:
a=[1,2]
b=(1,2)

In [15]:
a,b=[1,2]
c,d=(1,2)
d

2

In [18]:
a=(1,2)
a

(1, 2)

In [19]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [22]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key: value pair
    
- At values position you acnt take any data type

- At keys position list and dictionary will fail

- Duplicates are not allowed

- If you will update a kye values, latest value it will take

$TYPE$

In [24]:
type(d1)

dict

- str
- list
- dict
- int
- float
- bool
- complex
- tuple
- set

In [29]:
d1={'Ram':25,
    'Raheem': 30,
    'Robert':35}

max(d1)

# this maximum we are getting based on key or value

'Robert'

- Maximum and MInimum value based on key only

In [30]:
min(d1)

'Ram',    ord('m')
'Raheem', ord('h')
'Robert'

'Robert'

In [31]:
len(d1)

3

In [32]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
d2={100:2,300:4}
sum(d2)

400

- If keys has numeric then we can do sum

- completed topices
- type
- len
- max
- min
- sum

In [ ]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}

# 'Ram':25 in d1   # fails
    
'Ram': in d1   # works 

# 25 in d1   # fails


# only keys will be run

In [37]:
str1='apple'
'a' in str1

list1=[1,2,3]
1 in list1

for i in list1:
    print(i)

1
2
3

$INDEX$

In [39]:
list1=[10,20,30,40,]
list1[0]

str1='apple'
str1[0]

'a'

In [41]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}

d1[0]

KeyError: 0

In [42]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}

d1['Ram']

# can we get values using for loop

25

In [46]:
for key in d1:
    print("the age of {}, is {}".format(key,d1[key]))

the age of Ram, is 25
the age of Raheem, is 30
the age of Robert, is 35

In [47]:
for key in d1:
    print(key)

Ram
Raheem
Robert

In [48]:
for i in range(len(list1)):
    print(i,list1[i])

0 10
1 20
2 30
3 40

In [49]:
for key in range(len(d1)):
    print(key)
    #print("the age of {}, is {}".format(key,d1[key]))

0
1
2

***creating a empty dictionary and update***

In [52]:
s=' '

for i in 'apple':
    s=s+i
    
print(s)

 apple

In [53]:
list=[i for i in range(10)]

list=[]
for i in range(10):
    list.append(i)
    
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
d1={}
d1['fruit']='apple'
d1

{'fruit': 'apple'}

In [61]:
# wap create a data base you own

d1={}
d1['first name']= 'geetha reddy',
d2['sir name']='omkar',
d3['nativepalce']= 'Kadapa',
d4['state']='Andhra pradesh'
d1

{'first name': ('geetha reddy',)}

In [108]:
# wap create a dictionarybased on two list

# names=['Ram','Raheem''Robert]
# age=[20,30,35]
d1
d1['names']=['Ram','Raheem','Robert']
d2['age']=[25,30,35]

In [69]:
names=['Ram','Raheem','Robert']
age=[20,30,35]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ram': 20, 'Raheem': 30, 'Robert': 35}

In [72]:
d1={}
for i in range(len(names)):
    d1[names[i]]:age[i]
d1

{}

In [78]:
list1=[]
for i in range(len(names)):
    list1.append(i)

    
list1=[i for i in range(len(names))]
list2

[25, 30, 35]

In [113]:
d1={}
for i in range(len(names)):
    d1[names[i]]:age[i]
        
        
        
d1={names[i]:age[i] for i in range(len(names))}


d1={names:age for name,age in zip(names,age)}

names(0),age[0]
for name,age in zip(names,age):
    print(name,age)

TypeError: unhashable type: 'list'

In [82]:
d1={names[i]:age[i] for i in range(len(names))}

In [ ]:
d1={names:age for name,age in zip(names,age)}

In [101]:
list1=[]
for i in range(len(names)):
    list1.append(i)
    
    
list1=[i for i in range(len(names))]
list1

[0, 1, 2]

In [ ]:
# wap take 5 random numbers
# and create  a dictionary with even and odd
# output:'even:[20,22]','odd':[19,21,23]
# step-1:take empty dictionary
# step-2:take two even and odd list
# step-3: import random
# step-4: for i in range(5):
# step-5:    num=random.randint(a,b)
# step-6:    if<even>:
# step-7:    append the value in even list
# step-8:    else:
# step-9:        append the value in odd list
#step-10:  create dictionary

In [107]:
import random
d1={}
even=[]
odd=[]
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        print("even.append the values in even list{}:".format(num))
        even.append(num)
    else:
        print("odd.append the value in odd list{}:".format(num))
        odd.append(num)

d1['even']=even
d1['odd']=odd
d1

even.append the values in even list6:
even.append the values in even list4:
even.append the values in even list2:
odd.append the value in odd list5:
odd.append the value in odd list7:

{'even': [6, 4, 2], 'odd': [5, 7]}

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\gr970\\OneDrive\\Documents\\data science'

$DICTIONARY$ $METHODS$

In [4]:
dir({})


# str=''
# list=[]
#

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$ITEMS$-$KEYS$-$VALUES$

In [5]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [13]:
#items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [6]:
#items
d1.items()

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [11]:
# keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [7]:
#keys
d1.keys()

dict_keys(['Ram', 'Raheem', 'Robert'])

In [12]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [8]:
# values
d1.values()

dict_values([25, 30, 35])

In [14]:
list1=[25,30,35]
list1.append(400)
list1

[25, 30, 35, 400]

In [17]:
values    # i want to convert into a list
values_list1=list(values)  # then you can apply list method
values_list1

[25, 30, 35]

In [18]:
keys_list1=list(keys)
keys_list1

['Ram', 'Raheem', 'Robert']

In [ ]:
#  i will give the dictionary
# can you extract keysa ans values in a list


#   i waill give two lista keys and avlues
# can you create a dictionaty

In [19]:
d1={'Ram':25,
   'Raheem':30,
   'Robert':35}
keys=list(d1.keys())
values=list(d1.values())

In [20]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [24]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [25]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]    # d1[keys[0]]=values[0]   d1['Ram']=25

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [26]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [30]:
for i,j in zip(keys,values):
    d1[i]=j
    
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [32]:
str1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'


# {'first_name':['Virat','Rohit','Kl']
# 'second_name':['Kohil','Sharma','Rahul']
# 'compnay':['blr','mumbai','lucknow']}

In [49]:
lsit1=["Virat","Rohit","Kl"]

In [50]:
d1={}
lsit1=["Virat","Rohit","Kl"]
list2=["Kohil","Sharma","Rahul"]
list3=["Blr","Mumbai","Lucknow"]
d1["first name"]=list1
d1["second name"]=list2
d1["company name"]=list3
d1

{'first name': [25, 30, 35, 400],
 'second name': ['Kohil', 'Sharma', 'Rahul'],
 'company name': ['Blr', 'Mumbai', 'Lucknow']}

In [51]:
str1='virat.kohil@blr.com'
d1={}
first_name=[str1[:str1.find('.')]for str1 in str1.split(',')]
second_name=[str1[str1.find('-')+1:str1.find('@')]for str1 in str1.split(',')]
company_name=[str1[str1.find('-')+1:str1.find('.',str1.find('.')+1)]for str1 in str1.split(',')]
first_name,second_name,company_name


d1["first name"]=list1
d1["second name"]=list2
d1["company name"]=list3
d1

{'first name': [25, 30, 35, 400],
 'second name': ['Kohil', 'Sharma', 'Rahul'],
 'company name': ['Blr', 'Mumbai', 'Lucknow']}

In [ ]:
str1='can can you canner can you able to can canner'

#('can':4,'you':2,'canner':2,'able':1,'to':1)

In [57]:
str1='can can you canner can you able to can canner'
l1=str1.split(' ')    # step 1
d1={}

for i in l1:           # step 2
    d1[i]=l1.count(i)   # step3
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [58]:
str1='can can you canner can you able to can canner'
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [60]:
for i in l1:
    d1[i]=l1.count(i)   
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [62]:
keys=list(d1.keys())

In [63]:
values=list(d1.values())

In [64]:
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [65]:
i=max(values)

In [66]:
values.index(i)

0

In [67]:
keys[values.index(max(values))]

'can'

In [74]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}


# o/p={'a':20,'b':130,'c':240,'d':500}

In [80]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [79]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]       # d3['a']=d1['a']+d2['a']
d3

{'a': 70, 'b': 130, 'c': 240}

$CLEAR$-$COPY$

In [ ]:
# take one dictionary 
# take second dictionary
# copy fisrt dictionary into second
# clear fisrt dictionary
# and print both

In [3]:
d1={'a':20,'b':30,'c':35,'d':40}
d2=d1.copy()
d1.clear
print(d1)   # {}
print(d2)   # {'a':20,'b':30,'c':35,'d':40}

{'a': 20, 'b': 30, 'c': 35, 'd': 40}
{'a': 20, 'b': 30, 'c': 35, 'd': 40}

$POP$-$POPITEM$-$DEL$

In [ ]:
- what is pop

    - pop will remove specify key
    - return item

- what is popitem

    - remove the last value default
    
    - return the pair

- what is del

    - del is keyword 
    - it can

In [4]:
d1={'a':20,'b':30,'c':35,'d':40}
d1.pop('a')

20

In [5]:
d1

{'b': 30, 'c': 35, 'd': 40}

In [7]:
d1={'a':20,'b':30,'c':35,'d':40}
d1.popitem()

('d', 40)

In [ ]:
# del is keyword

del d2[]

In [8]:
l1=[10,20,30,40,50]
del l1[1]   # list is acess by index

In [9]:
l1

[10, 30, 40, 50]

In [ ]:
d1={'a':1,'b':2,'c':3}
del d1['c']
###################
d1.pop('c')


d1.popitem()   #lifo
#########################
del(d1)

- items/values/keys

- if i provide two list you know how to make dict
- if i provide dict, you know hoe to geneate dict
- create an empty string/list/dictionary
- counter
- summ
- function
- pop/popitem/clear
- copy/clear

$FROMKEYS$-$GET$

In [16]:
d1={'a':20,'b':30,'c':35,'d':40}
d1['b']

30

In [17]:
d1.get('b')

30

- how many ways we can do 
- what optput is returning 
- what is the differnce
- we can acess the values by providing key as index and key in get method
- but if the key is not present in dictionary, key as index will give key error
- get method will not return anything and no error

- fromkeys

- it creates a new dictionary
- create a new dictionary from the given sequence of the element
- create a new dictionary with iterable key

In [18]:
d2=d1.fromkeys('pgr',25)
d2

{'p': 25, 'g': 25, 'r': 25}

In [20]:
d2={}.fromkeys('pgr',25)
d2

{'p': 25, 'g': 25, 'r': 25}

In [21]:
d1

{'a': 20, 'b': 30, 'c': 35, 'd': 40}

In [22]:
name='pgr'
new=name.capitalize()

In [23]:
name

'pgr'

In [24]:
name,new

('pgr', 'Pgr')

In [25]:
d3={}.fromkeys([3,5,7],'odd')
d3

{3: 'odd', 5: 'odd', 7: 'odd'}

In [26]:
for i in [3,5,7]:
    print(i)

3
5
7

$SET$ $AS$ $DEFAULT$

In [ ]:
-

In [29]:
d1={}
d1.setdefault('nareshit','Ds')
d1

{'nareshit': 'Ds'}

In [38]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1.setdefault('nareshit',['Ds','mLops','DE'])
d1['nareshit']=['Ds','mLops','DE']
d1.setdefault('city','kap')
d1

{'nareshit': ['Ds', 'mLops', 'DE'], 'city': None}

$UPDATE$

In [ ]:
# it inserts the particluar items to the dictionary

In [42]:
d1={'a':20,'b':30,'c':35,'d':40}

In [49]:
d1={'a':1,'b':2,'c':3}
d2={'a':4,'b':5}
d2.update(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3}

- Update method will update a dictionary with element from another dictionary.
- It modifies the dictionary

In [50]:
t1=[(1,2),(2,3)]      # dict/iterable
d1={}
d1.update(t1)
d1

{1: 2, 2: 3}

In [ ]:
- tuple
- write an article on tuple

In [ ]:
- how to read
- type/max/min/sum
- index/mutable
- in/for 
- slice
- methods