***create a basic function***

***single arguments***

In [2]:
def add(x):
    summ=x+10
    return(summ)

add(50)

60

In [ ]:
def add(x):
    return(x+10)

add(50)


# how many arguments are present? : x
# what u are returning? :x+10


# format: lambda <argument>:<output>

In [3]:
add=lambda x:x+10
add(50)

60

In [ ]:
def square(x):
    return(x*x)

add(50)

In [4]:
square=lambda x:x*x
square(3)

9

In [ ]:
def cube(x):
    return(x*x*x)

add(50)

In [5]:
cube=lambda x:x*x*x
cube(5)

125

***two arguments***

In [ ]:
def add(a,b):
    return(a+b)

add(30+50)


# how many arguments are present?
# what u r returning?

# format: lambda <arg1>,<arg2>:<output>

In [7]:
add=lambda a,b:a+b
add(30,50)

80

In [8]:
# implement average of 3 numbers using lambda


avg= lambda a,b,c:(a+b+c)/3
avg(5,5,5)

5.0

In [16]:
# implement avaergae make c as default parameter

avg= lambda a,b,c=30:round((a+b+c)/3,2)
avg(20,30)

26.67

In [17]:
round(26.666666666666666,3)

26.667

In [18]:
round((a+b+c)/3,2)

NameError: name 'a' is not defined

$if$-$else$

In [19]:
# create a function for finding greater number between two numbers

def greater(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
    
greater(200,300)

300

In [21]:
l1=[]
def greater(n1,n2):
    if n1>n2:
        l1.append(n1)
    else:
        l1.append(n2)
    
greater(200,300)

In [22]:
l1=[<if_output> <if_con> else <else_op> <loop>]

SyntaxError: invalid syntax (1439479498.py, line 1)

In [ ]:
l1=[<if_output> <if_con> else <else_op> <loop>]

In [ ]:
def greater(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
    
greater(100,200)

# formate:
# lambda   <arg1>,<arg2>: <if_output>  <if_con>  else <else_op>

In [23]:
greater=lambda a,b:(a if a>b else b)
greater(100,200)

200

- lambda function is nothing but creat a function

- one arguments
 
- multiple arguments

- if else conditions

- is else conditions same like list compehenshion

In [3]:
list1=['hyd','mumbai','chennai']


# output: ['hyd','mumbai','chennai']
#m-1: use appens method
list2=[]

for i in list1:
    list2.append(i.capitalize())
    
print(list2)
# m-2: use list compeheshion
[i.capitalize() for i in list1]

# m-3: make a lambda function

['Hyd', 'Mumbai', 'Chennai']

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lambda <argument>: <output>

In [ ]:
# whenever you use iterations 

# iterator: some thing can be iterable/you can print using for loop

# list string tuplr dictionary

In [ ]:
lambda <argument>: <output>,<iterator>
[i.capitalize() for i in list1]

In [4]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

In [ ]:
lambda <arg>:<output>

In [ ]:
- next thing is map input and output

In [5]:
list1=['hyd','mumbai','chennai']
map(lambda i:i.capitalize(),list1)

In [ ]:
- store the output

In [6]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

- first make a lambda function

- second add your iterator

- map both function and iterator

- save the result in a list

In [7]:
list1=['hyd','mumbai','chennai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [13]:
list1=[1,2,3,4,5]
# [1,4,9,16,25]
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25]

In [14]:
for i in map(lambda i:i*i,list1):                           # another method 
    print(i)

1
4
9
16
25

In [19]:
list1=[1,2,3]
list2=[11,22,33]
list(map(lambda i,j:i+j,list1,list2))
# [12,24,36]

[12, 24, 36]

In [18]:
for i,j in zip(list1,list2):
    print(i+j)

12
24
36

In [20]:
str(list(map(lambda i,j:i+j,list1,list2)))

'[12, 24, 36]'

In [21]:
tuple(list(map(lambda i,j:i+j,list1,list2)))

(12, 24, 36)

In [ ]:
completed

- i.capitalize()

- i*i

- i+j

In [24]:
list1=['h#d','mum#bai','chennai']
#['h#d','mum#bai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)
print(list2)


[i for i in list1 if '#' in i]

['h#d', 'mum#bai']

['h#d', 'mum#bai']

In [29]:
list1=['h#d','mum#bai','chennai']
list(map(lambda i:'#' in i,list1))

# condition mapping to list of items

[True, True, False]

In [32]:
list1=['h#d','mum#bai','chennai']
'#' in 'h#d'
'#' in 'mum#bai'
'#' in 'chennai'

False

In [33]:
list1=['h#d','mum#bai','chennai']
list(filter(lambda i:'#' in i,list1))

['h#d', 'mum#bai']