In [ ]:
import random
dir(random)
help(random.randint)

In [ ]:
import math
math.sin(90)

In [ ]:
import math
math.sin(10)

In [ ]:
import math
math.cos(20)

In [ ]:
a=20  # 20 value saved in a variable a
a

In [ ]:
geetha=300
geetha

In [ ]:
import keyword
dir(keyword)
help(keyword.kwlist)

In [ ]:
shift+enter at a time to get output
esc+y to return the code
esc+m at a time is markdown shortcut
ctrl+shift+n

In [2]:
# Upper case
NUMBER=400
NUMBER

400

In [1]:
# lower case
NUMBER=600
NUMBER

600

In [3]:
# combination of Upper case and lower case
Number=200
NUMBER

400

In [4]:
# combination of letters and number, number as suffix
number123=600
number123

600

In [ ]:
# special characters
number% =800
number%

In [ ]:
# keywords
if=500
if

In [ ]:
number_one=700
number_one               # spaces will not allowed

In [ ]:
# Data types
integer    int
float      float
strings    str
boolean    bool
complex conjugate    complex

**integer**

In [ ]:
number=100
number

In [5]:
# type of the variable:type
type(number)

NameError: name 'number' is not defined

# in maths we have different number system
-decimal 
-binary
-octal
-hexa


**binary**
- bi means 2 
- so the base is also 2
- 0 1 2 3 4 5 6 7 8 9 
- here will use only two digits: 0 and 1
- representation is : 0b<combinations of 0 and 1>
- 0b0110,0b011101
- 0b102

In [ ]:
0b0110

In [ ]:
0b011101

In [ ]:
0b102

**octal**

In [ ]:
- octa means 8 
- so the base is also 8
- 0 1 2 3 4 5 6 7  
- here will use only 8 digits:0 to 7 means 8 digits
- representation is : 0o<combinations of 0 and 7>
- 0o123,0o7564

In [ ]:
0o123

In [ ]:
0o7564

**hexa**

In [ ]:
- hexa means 16
- so the base is also 16
- 0 1 2 3 4 5 6 7 8 9 A B C D E F
- here will use only 16 digits:(0 to 1 and A to F)
- representation is : 0x<combinations of 0 to 9 and A and F>
- 0xabc,0x9df

In [ ]:
0xabc

In [ ]:
0x9df

In [ ]:
# float
number1=123.5
number

In [ ]:
string1="good morning"
string1

In [ ]:
# triples quotes ====== doc string
# you are writing some information
string3="""how are you"""

In [ ]:
# whwenever if you ask any question to the computer
#what its replay? true or false
# true=1
# false=0

In [6]:
value=False      # we are assigning False in a variable value
value

False

In [7]:
type(value)
type

type

In [8]:
valu1=True
type(valu1)

bool

In [9]:
name2=true
# have you defined True before?
# i did not defined true,thats whyiam not able to use that

NameError: name 'true' is not defined

In [10]:
a=100    #100 saved in a
b=200    #200 saved in b
a=b      #b is saved in a=200
b=a      #a is saved in b=200
a=500    #500 is saved in a=500
b=a      #a is saved in b=500
b=900    #900 is saved in b=900
a        #latest value=500

500

In [11]:
number.conjugate()

NameError: name 'number' is not defined

In [12]:
-   a+jb    or  a+ib
- where a= real number
- b= imgainary number
- i= sqrt(-1)

SyntaxError: invalid syntax (3664622725.py, line 2)

In [13]:
number= 3+5j
number

(3+5j)

In [14]:
type(number)

complex

In [15]:
number1= 3-5j
number1

(3-5j)

In [16]:
# if i want to retrive only real value seperately
3+5j
#3 is the real value
#5 is the imaginary value

(3+5j)

In [17]:
number.real  <packagename>.<method>

SyntaxError: invalid syntax (3557043712.py, line 1)

In [18]:
number= 3+5j
number

(3+5j)

In [19]:
number.imag

5.0

In [20]:
number.conjugate()      # +  become -
                        # - become +

(3-5j)

In [21]:
number1=3-5j
# number1.real =3
# number1.imag =-5
#number1.conjugate =3-5j

In [22]:
number=3-5j
number

(3-5j)

In [23]:
complex(4,10)
# real=4
# image=10
# 4+10j

(4+10j)

In [24]:
complex(4,-10)
# inside braket what you are seeing
# parameter/arguments

(4-10j)

In [25]:
complex()   # if i did not provide anything inside

0j

In [26]:
- whenever if you see any brakets(), that is called function
- another name of function is called method
- inside brakets what you are seeing is called parameter
- another name for parameter is arguments

SyntaxError: expected 'else' after 'if' expression (1037167580.py, line 1)

In [27]:
import random
random.randint

In [28]:
import random
random.randint(1,100)

75

In [ ]:
complex()
# if you not provide amything inside brackets
# i will use real value as 0
# imaginary value also 0
0+0j======> 0j only

In [ ]:
there are four options
1.0+0j 
2.0j
3.0-0j
4.0
5.error

In [31]:
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

1. random.randint()      # error is it necessary to provide arguments
2. math.sin()            # error is it necessary to provide arguments
3. complex()             # no error

In [34]:
#packages
# method
# parameters

**python session-5 basic**

In [35]:
number1=100
number2=200
number1      # 100 is not coming
number2      #200 is latest so it is coming

200

In [36]:
# in order to if you want to see both answer
#print

In [37]:
number1=100    # 100 is saved in a variable number1
number2=200    # 200 is saved in a variable number2
print(number1) # print the value of number1=100
print(number2) # print the value of number2=200

100
200

In [39]:
print('hello')   # step1: hello
print('how')     # step2: how
print('are')     # step3: are
print('you')     # step4: you
print('hello')      # step5:hello is variable, is hello intoalised above
print(number1)

hello
how
are
you
hello
100

In [ ]:
# you written 500 lines of code
# you got error at 200 line
# after 200 line, 201 to 500 will not execute

In [40]:
print(number1,number2)

100 200

In [ ]:
100
200
print(number1)
print(number2)

In [ ]:
print(number1)
print('------')
print(number2)
print('-----')

In [ ]:
print('hai','how','ARE','you','CHINU')
print('hai how are you CHINU')

In [ ]:
print('HAI')
print('HOW')

**joining of print statement**

In [41]:
print('hai')

hai

**end**

In [44]:
print('hai',end='&')
print('how')

hai&how

In [45]:
print('1',end='----')
print('2',end='******')
print('3')

1----2******3

In [48]:
number1=100
number2=200
add=number1+number2
print("the addition of number1 and number2 is",add)

the addition of number1 and number2 is 300

In [47]:
number1=100
number2=200
add=number1+number2
print("the addition of number1 and number2 is {}:".format(add))

the addition of number1 and number2 is 300:

In [ ]:
# the addition of 20 and 40 is 60

In [55]:
number1=20
number2=40
add=number1+number2
print("the addition of", number1,"and",number2,"is",add)

the addition of 20 and 40 is 60

In [50]:
number1=20
number2=40
add=number1+number2
print("the addition of",number1,"and",number2,"is",add)

the addition of 20 and 40 is 60

In [ ]:
# step-1: variable name='python'
# step-2:  city='hyd'
# step-3:  age=10

In [56]:
print('variable-name',"and",'python')
print('city',"and",'hyd')
print('age',"and",10)

variable-name and python
city and hyd
age and 10

In [57]:
name='python'
city='hyd'
age=10
print("my name is",name,"iam from",city,"iam",age,"years old")

my name is python iam from hyd iam 10 years old

In [58]:
number1=20
number2=40
add=number1+number2
print("the addition of",number1,"and",number2,"is",add)

the addition of 20 and 40 is 60

In [ ]:
# "the addition of 200 and 400 is 600"
# the addition of {} and {} is {}

In [61]:
num1=200
num2=400
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 200 and 400 is 600

In [ ]:
name='python'
city='hyd'
age=10
print("my name is {} iam from {} and my age {} yeras old".format(name,city,age))

In [ ]:
# step1:     value1=200
# step2:     value2=300
# step3:     add=value1+value2
# step4:     sub=value1+value2
# step5:     mul=value1+value2
# step6:     div=value1+value2
# step7:     print("the addition of {} and {} is {}".format(value1,value2,add))

In [62]:
value1=200
value2=300
add=value1+value2
sub=value1-value2
mul=value1*value2
div=round(value1/value2)
print("the addition of {} and {} is {}".format(value1,value2,add))
print("the sub of {} and {} is {}".format(value1,value2,sub))
print("the mul of {} and {} is {}".format(value1,value2,mul))
print("the div of {} and {} is {}".format(value1,value2,div))

the addition of 200 and 300 is 500
the sub of 200 and 300 is -100
the mul of 200 and 300 is 60000
the div of 200 and 300 is 1

In [ ]:
the division of 200 and 300 is

In [ ]:
20%30

In [63]:
print(5/2)    # division
print(5//2)   # floor division=qutioent
print(5%2)    # modulus=reminder

2.5
2
1

**input**

In [ ]:
input()

In [ ]:
input("enter a number")

In [ ]:
input("prakash")

In [ ]:
input("what is a for:")
input("what is b for:")

In [ ]:
num1=50
num2=80
num1
num2

In [ ]:
input("what is a for:")
input("what is b for:")
print(name1)
print(name2)

In [ ]:
num=input('enter the number')

In [ ]:
num=input('enter the number')

In [ ]:
val1 = input("enter val1:")
val2 = input("enter val2:")
add = val1+val2
print("the addition of {} and {} is {}".format(val1,val2,add))

In [65]:
val1 =int(input("enter val1:"))
val2 =int(input("enter val2:"))
add = int(val1)+int(val2)
print("the addition of {} and {} is {}".format(val1,val2,add))

enter val1:20
enter val2:30
the addition of 20 and 30 is 50

In [ ]:
num1=int(input("enter num1:"))
num2=int(input("enter num2:"))
add=int(num1)+int(num2)
print("the addition of {} and is {}".format(val1,val2,add))

In [68]:
int('9')    #------- works
int('5.5')  #------fall
float('2')  #----- fall

ValueError: invalid literal for int() with base 10: '5.5'

$eval$

In [ ]:
num1=eval(input("enter a number1:"))
num2=eval(input('enter a number2:'))
print(num1+num2)

In [72]:
v1=input('enter a v1:')
v2=int(input('enter a v2:'))
v3=float(input('enter a v3:'))
v4=eval(input('ente a v4:'))

enter a v1:20
enter a v2:30
enter a v3:40
ente a v4:15

In [ ]:
value1=200
value2=300
add=value1+value2
sub=value1-value2
mul=value1*value2
div=round(value1/value2)
print("the addition of {} and {} is {}".format(value1,value2,add))
print("the sub of {} and {} is {}".format(value1,value2,sub))
print("the mul of {} and {} is {}".format(value1,value2,mul))
print("the div of {} and {} is {}".format(value1,value2,div))

In [93]:
value1=(10)
value2=(20)
value3=(30)
sum=value1+value2+value3
average=sum/3
print("the sum of {} and {} is {}".format(value1,value2,value3,sum))
print("the average of {} and {} is {}".format(value1,value2,value3,average))

the sum of 10 and 20 is 30
the average of 10 and 20 is 30

In [79]:
# wap ask the user enter a basic_salary
#     ask the user enter DA amount
#     ask the user enter HRA amount
#calculate total pay= basic_Salary+Da+HRA


# step-1:
basic_salary=eval(input("enter a basic salary"))
DA=eval(input("enter DA amount"))
HRA=eval(input("enter HRA amount"))
total_pay=basic_salary+DA+HRA
print("the total salary is:",total_pay)

enter a basic salary50000
enter DA amount2000
enter HRA amount3000
the total salary is: 55000

In [80]:
basic_salary

50000

In [81]:
# wap ask the user enter salary
#   ask the usee enter tax percentage
#calculate how much tax user need to pay

salary=eval(input("enter the salary"))
tax_percentage=eval(input("enter your tax percentage"))
tax_amount=(salary*tax_percentage)/100
print("the total tax is",tax_amount)

enter the salary50000
enter your tax percentage10
the total tax is 5000.0

In [ ]:
#wap ask the user get a random valuse between 1 and 100
# perform the square of the number

#package name: random
#method name: randint

In [83]:
eval(input("entera number"))

entera number10

10

In [85]:
import random
random.randint(1,100)

50

In [ ]:
import random
num=random.randint(1,100)
print("square of the number is",num*num)

In [ ]:
import random
num=random.randint(1,100)
square=num*num
print("square of {} is {}",num*square)

In [ ]:
number=100
square=number*number
print("square of the number is",number*square)

In [6]:
number=eval(input('enter a number'))
square=number*number
print("square of the number is",number*square)

enter a number600
square of the number is 216000000

In [ ]:
import random
num=random.randint(1,100)   # computer will generate a rondom number 
#between 1 to 100, that will save in number
square=num*num
print("square of {} is {}",num*square)

In [ ]:
# wap ask the user enter a distance 
#     ask the user enter a rate per distance
# calculate total charge

In [5]:
distance=eval(input("enter a distance"))
rate=eval(input("enter the rate per distance"))
total_charge=distance+rate
print("for {} km the charge is {} rs".format(distance,rate))

enter a distance55
enter the rate per distance15
for 55 km the charge is 15 rs

In [ ]:
# ask the user enter total bill in dollars:100
# manger: the dollars are not accepted
# user: what will accepted
# manager: only indian rupees
# ask the user enter one dollar is equal to how many ruppes:80
total bill=100*80
manager: thank you!

In [87]:
bill=eval(input("enter total bill in dollars:"))
print("manger canot accept the dollars" )
print("customer:only indian ruppes are accepted  how much the one dollar")
conversion_rate=eval(input("one dollar equal to 80:"))
total_amount=bill*conversion_rate
print(" the bill amount is {}".format(bill,conversion_rate))

enter total bill in dollars:1000
manger canot accept the dollars
customer:only indian ruppes are accepted  how much the one dollar
one dollar equal to 80:80
 the bill amount is 1000

In [ ]:
bill=eval(input("manger:enter the total bill in doolars:"))
input('manager response')
input("user response")
input('manager response')
cr=eval(input("dollar convesion:"))
total=bill*cr
print("the total amount is :",total)

In [ ]:
# father and son/d
# father: which course you wants to do
# s/d: i want to pursue ds course
# father: oh! that is very nice!
# father: may i know your jee rank
# son: 20000  # user input
# father: then how can you purse
# son payment seat
# father: which college is offer
# son: naresh it  # user input
# father: how much is the fee 
#son: 20000  # user input
# father: how many sem
#son: 4    # user input
# father: how much total cost
4*20000    # user input

In [ ]:
print("father: which course you wants to do")
print("s/d: i want to pursue ds course")
print("father:oh! that is very nice!")
print("father:may i know your jee rank")
input()
print("father:then how can you purse")
print("son:payment seat")
print(" father: which college is offer")
input()
print("father: how much is the fee")
input()
print("father: how many sem")
input()
print("father: how much total cost")
input()

In [1]:
print("father: which course you wants to do")
print("s/d: i want to pursue ds course")
print("father:oh! that is very nice!")
print("father:may i know your jee rank")
input()
print("father:then how can you purse")
print("son:payment seat")
print(" father: which college is offer")
input()
print("father: how much is the fee")
fee=eval(input())
print("father: how many sem")
sem=eval(input())
print("father: how much total cost")
print("total fee:",fee*sem)

father: which course you wants to do
s/d: i want to pursue ds course
father:oh! that is very nice!
father:may i know your jee rank
20000
father:then how can you purse
son:payment seat
 father: which college is offer
naresh it
father: how much is the fee
20000
father: how many sem
4
father: how much total cost
total fee: 80000

In [8]:
number=eval(input("enter a value"))
square=number*number
print("the square of{} is{}".format(number,square))

enter a value25
the square of25 is625

In [13]:
x=eval(input("enter a number:"))
print(x,2*x,3*x,4*x,5*x,sep='---')

enter a number:8
8---16---24---32---40

In [89]:
x=eval(input("enter a number:"))
print(x,2*x,3*x,4*x,sep='****')

enter a number:7
7****14****21****28

In [91]:
weight_in_kilograms=float(input("enter a weight in kilograms"))
weight_in_pounds=weight_in_kilograms*2
print(f"{weight_in_kilograms} kilograms is equal to {weight_in_pounds} pounds.")

enter a weight in kilograms20
20.0 kilograms is equal to 40.0 pounds.

In [14]:
num1=eval(input("enter the first num"))
num2=eval(input("enter the second num"))
num3=eval(input("enter the third num"))
total=num1+num2+num3
average=total/3
print("total:",total)
print("average:",average)

enter the first num20
enter the second num360
enter the third num40
total: 420
average: 140.0

In [28]:
meal_price=float(input("enter the price of the meal:"))
tip_percentage=float(input("enter the tip percentage you want to leave:"))
total_bill=meal_price/tip_amount*100
p=meal_price+total_bill
print("bill of meal:",price,"total_bill:",p)

enter the price of the meal:500
enter the tip percentage you want to leave:40
bill of meal: 500.0 total_bill: 501.6666666666667

In [27]:
price=float(input("enter the price of the meal:"))
tip=float(input("enter the tip percentage you want to leave:"))
total_bill=price/tip*100
j=price+total_bill
print("bill of meal:",price,"total_bill:",j)

enter the price of the meal:500
enter the tip percentage you want to leave:40
bill of meal: 500.0 total_bill: 1750.0

In [6]:
num1=eval(input("enter a number1"))
num2=eval(input("enter a number2"))
add=num1+num2
print(add)

enter a number120
enter a number230
50

In [94]:
num1=eval(input("enter a number1:"))
num2=eval(input("enter a number2:"))
add=num1+num2
print(add)

enter a number1:30
enter a number2:60
90

In [16]:
num1=eval(input("enter a number1:"))
num2=eval(input("enter a number2:"))
division=num1/num2
print(division)

enter a number1:10
enter a number2:20
0.5

In [22]:
num1=eval(input("enter a number1:"))
num2=eval(input("enter a number2:"))
sub=num1-num2
print(sub)

enter a number1:50
enter a number2:20
30

In [ ]:
# possible error####

name error
syntax errors'('was never closed
zero divided error:division by zero
Type error:unsupported operand type(s) for/:'str'and'int'
missing parentheses in call to 'print'.did you mean print(...)

-suppose you have wrriten 500 lines of code 200 you got on error
   
   -this error is ,ight not impact your code

***exception handling***

In [ ]:
try except   (keyword)
there are two blocks
one try block
another is exception block
your code will be there in try block
error capture will happens in except block
indentation  (space is nothing but indentation)
red: space/indentation not mentioned properly colour 
    indentation has minimum 4 characters

In [28]:
try:
    num1=10
    num2=20
    num3=30
    add=num1+num2+num3
    print(add)
    
except:
    print("error is there,check code")

60

In [97]:
try:
    num1=20
    num2=30
    num3=40
    add=num1+num2+num3
    print(add)
except:
    print("check the code")

90

In [ ]:
how to alignseveral lines of code with different characters
try

In [31]:
try:
    num=10
    num2=20
    num3=30
    add=num1/num2      #10/0====>zero
    print(add)
    
except:
    print("error is there,check code")

0.5

In [ ]:
# wap ask the user enter a number and find the average

In [37]:
try:
    num1=eval(input("enter number1-:"))
    num2=eval(input("enter a number2-:"))
    num3=eval(input("enter a number3-:"))
    average=(num1+num2+num3)/3
    print("the average of{},{} and {} is {}".format(num1,num2,num3,average))

except:
    print("check the code")

enter number1-:10
enter a number2-:30
enter a number3-:80
the average of10,30 and 80 is 40.0

In [100]:
try:
    num1=eval(input("enter number1-:"))
    num2=eval(input("enter a number2-:"))
    num3=eval(input("enter a number3-:"))
    average=(num1+num2+num3)/0
    print("the average of{},{} and {} is {}".format(num1,num2,num3,average))

except Exception as e:
        print(e)

enter number1-:100
enter a number2-:200
enter a number3-:300
division by zero

In [52]:
try:
    num1=eval(input("enter number1-:"))
    num2=eval(input("enter a number2-:"))
    num3=eval(input("enter a number3-:"))
    sub=(num1-num2-num3)
    print("the sub of{},{} and {} is {}".format(num1,num2,num3,sub))
    
except:
    print("check the code")

enter number1-:50
enter a number2-:25
enter a number3-:15
the sub of50,25 and 15 is 10

In [101]:
# wap ask the user enter a number and find the square of the number


try:
    num1=eval(input("enter number1-:"))
    num2=eval(input("enter a number2-:"))
    num3=eval(input("enter a number3-:"))
    square=(num1*num2*num3)
    print("the square of{},{} and {} is {}".format(num1,num2,num3,square))
    
except:
    print("check the code")

enter number1-:5
enter a number2-:25
enter a number3-:50
the square of5,25 and 50 is 6250

In [103]:
try:
    num=eval(input("enter a number:"))
    print("the square of{} is {}".format (num,num222*num))
except Exception as e:
    print(e)
    print('hello')

enter a number:5
name 'num222' is not defined
hello

In [104]:
try:
    num=eval(input("enter a number:"))
    print("the square of{} is {}".format (num,num222*num))
except Exception as e:
    # print(e)
    print('hello')

enter a number:5
hello

In [55]:
try:
    num=eval(input("enter a number:"))
    print("the square of{} is {}".format (num,num222*num))
except Exception as e:
    print('hai')
    print(e)
    print('hello')

enter a number:3
hai
name 'num222' is not defined
hello

In [56]:
try:
    num=eval(input("enter a number:"))
    print("the square of{} is {}".format (num,num222*num))
except Exception as e:
    print(e)
    print('hello')
    
    
    print('python')
    print(1)
    print(2)

enter a number:6
name 'num222' is not defined
hello
python
1
2

In [1]:
print("-----------")
print(3+5)
print('********')
try:
    num=eval(input("enter a number:"))
    print("the square of {} is {}".format(num,num222*num))
except Exception as e:
    print('hai')
    print(e)
    print("hello")
       
        
    print('python')
    print(1)
    print(2)

-----------
8
********
enter a number:3
hai
name 'num222' is not defined
hello
python
1
2

In [ ]:
only try block content is printed
if your code is with out error,try block excute
if your code has error,it will redirect to except block
what ever you writtern inside except block that will run
try and exception is together.
once try and exception code are compelete,it try to look any other lines of codes are there

In [109]:
try:
    num1=eval(input("enter a number"))
    square=(num1*num2)
    print(square)
except Exception as error:
    print(e)
    print('hello')

enter a number8
200