In [ ]:
# strings
# list
# dictionary
# tuple
# set

**how to read the strings**

In [1]:
string1='python'          # single quote
string1

'python'

In [2]:
string2="python"          # double quote
string2

'python'

In [ ]:
### triple quotes
# Doc string is used to say some information about your python code

In [2]:
"""
im creating a hello function
arguments: None
return:  None
"""
def hello():
    print("good morning")

In [4]:
"""
this is geetha reddy 
form kadapa
"""

'\nthis is geetha reddy \nform kadapa\n'

In [ ]:
'hello python'    # i want to highlite the python

In [4]:
string3='hello "python"'
print(string3)

hello "python"

In [5]:
string4='hello "python"'
print(string4)

hello "python"

In [ ]:
- type
- len
- max
- min

$TYPE$:

In [6]:
string1

'python'

In [7]:
type(string1)

str

In [15]:
type(bool)

type

$LEN$:

In [8]:
len(string1)

6

$MAX-MIN$:

In [15]:
string1='pP'
max(string1)

# ASCLL
#'A'=65   'a'=97


string1="pP"
min(string1)

'P'

In [16]:
string1="geetha"
min(string1)

'a'

In [17]:
string1="pGr"
max(string1)

'r'

$ORD-CHR$:

In [18]:
ord('p')       # it will provide ascii value of char

112

In [19]:
ord('g')

103

In [20]:
ord('p')

112

In [21]:
string1='python'
max(string1)

'y'

In [22]:
string1="python"
min(string1)

'h'

In [23]:
string1="python"
max(string1)

'y'

In [24]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [25]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110),

('p', 'y', 't', 'h', 'o', 'n')

In [26]:
ord('G'),ord('E'),ord('E'),ord('T'),ord('H'),ord('A')

(71, 69, 69, 84, 72, 65)

In [27]:
chr(71),chr(69),chr(69),chr(84),chr(72),chr(65)

('G', 'E', 'E', 'T', 'H', 'A')

In [28]:
chr(80),chr(71),chr(82),

('P', 'G', 'R')

In [29]:
for i in range(len('geetha')):
    print(i)

0
1
2
3
4
5

In [30]:
# i want print p y t h o n

$IN$:

In [31]:
string1='python'

'p' in string1

True

In [32]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'u' in string1
'o' in string1
'n' in string1

True

In [33]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'u' in string1
'o' in string1
'n' in string1
'a' in string1

False

In [34]:
for i in string1:
    print(i)

p
y
t
h
o
n

- range(): you need to provide inside the range
- in     : is used only for strings
- if you want print the letters using for loop go for in opertor

In [35]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [36]:
for i in string1:
    print("the ascii value of {} is {}".format(i,ord(i)))
# the ascii value of p is 112

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [37]:
# ascii value of A to Z


for i in string1.ascii_uppercase:
    print("the A to Z ascii value of {} is {}".format(i,ord(i)))

AttributeError: 'str' object has no attribute 'ascii_uppercase'

In [38]:
for i in string.ascii_lowercase:
    print("the A to Z ascii value of {} is {}".format(i,ord(i)))

NameError: name 'string' is not defined

In [39]:
for i in string.punctuation:
    print("the A to Z ascii value of {} is {}".format(i,ord(i)))

NameError: name 'string' is not defined

In [40]:
# what is the start and end of ascill number?

ord("z")

122

In [41]:
for i in range(1,50):
    print(i,chr(i))

1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1

In [42]:
for i in range(1,50):
    print(chr(i))


































!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
0
1

In [43]:
for i in range(33,40):
    print(i,chr(i))

33 !
34 "
35 #
36 $
37 %
38 &
39 '

In [44]:
for i in range(99,110):
    print(i,chr(i))

99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m

In [48]:
string1.ascii_letters

AttributeError: 'str' object has no attribute 'ascii_letters'

In [54]:
string.printable

# digits
# lower
# upp
#

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [ ]:
# wap ask the user find number of a letters in a given string
# string1= hai, how are you and how  do you do
# ans:3


# first iterate the string using in and for loop 
# print each letter====>                               # interview question
# apply the if condition i=='a'

In [54]:
string='hai how are you  and how  do you do'
count=0
for i in string:
    if i=='a':
        count=count+1
print(count)

6

In [10]:
# 2. A simple way to estimate the number of words in a string is to count 
# the number of spaces in the string.
# Write a program that asks the user for a string and returns an 
# estimate of how many wordsare in the string.
# Tip: You need to count the number of words using spaces

string="enter a string:"
count=0
for i in string:
    count=string.count('')+1
print("estimate how many words are in string {}:".format(count))

estimate how many words are in string 17:

In [15]:
def number_of_words():
    user='enter a string:'
    count=user.count(' ')+1
    print("estimate the word count {}:".format(count))
number_of_words()

estimate the word count 3:

In [ ]:
# wap count the number of vowels in a given string
# string='hai how are you'
# ans=7

In [2]:
string='hai how are you'
count=0
for i in string:
    if i in 'aeiou':
        count+=1
        
print(count)

7

In [28]:
string="geetha reddy pgr"
vowels="aeiou"
for i in string:
    for i in "aeiou":
        count+=1
    if vowels string:
        print("the word vowels")
    else:
        print("the word does not vowels")
print(count)

SyntaxError: invalid syntax (3547146994.py, line 6)

In [37]:
# wap count the number of unqiue vowels in given string
# ans:5

string='hai how are you'
string1=''
count=0
for i in string:
    for i in 'aeiou':
        count=count+i
        
print(string1)               #$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [91]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [92]:
str1-str2
str2*str2
str1/str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [96]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [99]:
3*str1,str2

('haihaihai', 'how')

In [ ]:
- how to read
- single/double/triple
- typr
- len
- in ( hoe to ilterate to through for loop)
- min
- max
- concatenation

$INDEX$:

In [112]:
string1='python'

In [109]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [114]:
for i in range(6):
    print(string1[i])

p
y
t
h
o
n

In [121]:
string1='python'

 # i want print letters using in operator
# i want print letters using in  range operator

for i in string1:
    print(i)
for i in range(len(string1)):
    print(i)

p
y
t
h
o
n
0
1
2
3
4
5

In [126]:
for i in string1:
    print(i)
for i in range(len(string1)):
    print(i,string1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

In [15]:
string1='python'

In [12]:
string1='python'

# i want to print to the letters using for loop
# in
# range

In [16]:
#for i in string1:   # i mean each letter
    #print(i,end='')
    
    
for i in range(len(string1)):  # i means each numbers
    print(i,string1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [17]:
for i in string1:
    print(i,end=' ')
for i in range(len(string1)):
    print(i,string1[i])

p y t h o n 0 p
1 y
2 t
3 h
4 o
5 n

In [6]:
'the index of p is 0'
'the index of p is 0'

'the index of p is 0'

In [19]:
for i in range(len(string1)):
    print('the index of {} is {}'.format(string1[i],i))

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [21]:
string1[-1]

'n'

In [22]:
string1[-6],string1[-5],string1[-4],string1[-3],string1[-2],string1[-1]

('p', 'y', 't', 'h', 'o', 'n')

In [24]:
# iterate the for loop on string1
# print the letters using negative index
# the idea is first you need to print the numbers between -6 to -1, using for loop

#for i in range(len(string1):
   # print(i,end='')
string1='python'
for i in range(-6,0):
    print("the negative index of {} is {}".format(string1[i],i))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [27]:
for i in range(-6,0):print(i,end=' ')
for i in range(0,6):print(i,end=' ')

-6 -5 -4 -3 -2 -1 0 1 2 3 4 5

In [30]:
# 'the positive index is 0 and negative index is -6 fot a letters p'
string1='python'
for i in range(-6,0):
    print("the negative index is {} the positive is {} for {}".format(i,string1[i],i-6))

the negative index is -6 the positive is p for -12
the negative index is -5 the positive is y for -11
the negative index is -4 the positive is t for -10
the negative index is -3 the positive is h for -9
the negative index is -2 the positive is o for -8
the negative index is -1 the positive is n for -7

In [31]:
for i in range(-len(string1),0):
    print("the positive index of {} is {}".format(string1[i],i+6))
    
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string1[i],i-6))
    
for i in range(-len(string1),0):
    print("the negative index is {} the positive is {} for {}".format(i,string1[i],i-6))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1
the negative index of p is 0
the negative index of y is 1
the negative index of t is 2
the negative index of h is 3
the negative index of o is 4
the negative index of n is 5
the negative index is -6 the positive is p for -12
the negative index is -5 the positive is y for -11
the negative index is -4 the positive is t for -10
the negative index is -3 the positive is h for -9
the negative index is -2 the positive is o for -8
the negative index is -1 the positive is n for -7

In [33]:
for i in range(-len(string1),0):
    print(i,i+6)

-6 0
-5 1
-4 2
-3 3
-2 4
-1 5

In [36]:
i=0
while i<len(string1):
    print("the positive index of {} and negative index is {} for {}".format(i,i-6,string1[i]))
    i=i+1

the positive index of 0 and negative index is -6 for p
the positive index of 1 and negative index is -5 for y
the positive index of 2 and negative index is -4 for t
the positive index of 3 and negative index is -3 for h
the positive index of 4 and negative index is -2 for o
the positive index of 5 and negative index is -1 for n

In [40]:
string='hai how are you'
count=0
for i in range(len(string1)):
    if string1[i]=='a':
        count+=1
print(count)

0

** MUTABLE AND IMMUTABLE CONCEPT**

MUTABLE====WE CAN CHANGE

IMMUTABLE === WE CANNOT CHANGE

STRINGS ARE IMMUTABLE

In [41]:
string1='python'

# i want change  'p' ==== 'p'
# o/p: 'python'
string1[0]='p'

TypeError: 'str' object does not support item assignment

In [42]:
list1=[100,200,300]   # 100=====1000
list1[0]=1000
list1

[1000, 200, 300]

$SLICE$

In [ ]:
h  a  i     h  o  w     a  r  e        y   o   u
0  1  2  3  4  5  6  7  8  9  10  11  12  13  14

In [44]:
string='hai how are you'
string

'hai how are you'

In [46]:
string[:]
# nothing mention means take  start and last letters

'hai how are you'

In [48]:
string[::]
# start =0
# stop= last letter len(string1)
# step= +1

'hai how are you'

In [50]:
string='hai how are you'
string1[2:10]
string1[2:10:3]
string[:]
string[::]

'hai how are you'

In [51]:
string1[2:10:-3]

''

In [ ]:
-15   -14   -13   -12   -11   -10   -9   -8   -7   -6   -5   -4   -3   -2   -1  
H      A     I           H     O     W         A    R    E         Y    O    U
0      1     2     3     4     5     6    7    8    9    10   11   12   13   14

In [ ]:
string1[2:14:2]
string1[2:14:-2]
string1[2:-14:2]
string1[2:-14:-2]
string1[-2:14:2]
string1[-2:-14:2]
string1[-2:-14:-2]

In [59]:
string1[2:14:-2]

''

In [ ]:
- reading methods
- single/double/triple/(doc string)
- type
- len
- min
- max
- concatenation
- subtraction/mult/div
- in
- index
- mutable
- slice

**STRING METHOD**

In [ ]:
import <package_name>
dir(<package_name>)
help(<package_name>.<method_name>)

In [61]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**CAPITALIZE**

In [63]:
string1='welcome'
help(string1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [65]:
string1='welcome'
string1.capitalize()

'Welcome'

$UPPER$

In [66]:
string1.upper()

'WELCOME'

$LOWER$

In [67]:
string1.lower()

'welcome'

In [68]:
string1='welcome'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Welcome
WELCOME
welcome

In [70]:
string1='hai how are you'
# how many 'a's are there

In [71]:
string1.count('a')

2

In [72]:
count=0
for i in string1:
    if i=='a':
        count+=1

In [81]:
string1='welcome'
# output:  'weLcome'
# idea
# str1=we
# str2=come
# index
# slice
# concatenation=str1+'L'+str2

In [84]:
string1='welcome'
str1=string[:2]
str2=string[3:]
str1+'L'+str2

'haL how are you'

In [83]:
string1.replace('1','L')

'welcome'

COUNT

In [1]:
string1='hai how are you'
#how many 'a are there'
string1.count('a')

2

In [3]:
string1.count('hai')

1

In [6]:
string1='ola ola ola'
print(string1.count('ola'))
print(string1.count('ola'))
print(string1.count('ol'))
print(string1.count('a'))

3
3
3
3

In [10]:
string1='ola ola ola'
# ola   ola   ola
# 012 3 456 7 8910
# we are counting the number of 'a' from index 4
print(string1.count('a',4))
print(string1.count('a',6))
print(string1.count('a',4,6))    # 4 and 5
print(string1.count('a',4,7))    # 4 5 6
print(string1.count('A',4))      # 0
print(string1.count('A'.lower(),4))  # 2
print(string1.count('a'.upper(),4,7))

2
2
0
1
0
2
0

In [12]:
string1='ola ola ola'
count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count)

3

In [20]:
# how many ola are there
# do till now what we completed use that only except count method


string1='ola ola ola'
count=0
for i in range(len(string1)):
     if string1[i:i+3]=='ola':
            count+=1
        
print(count)
# i=0 string1[0:3]: 0 1 2 : ola
# i=1 string1[1:4]: 1 2 3 : ola

3

In [21]:
string1.count('a')   # this is as develper
string1.count('ola') # as developer mode

3

$REPLACE$

In [27]:
string1='welcome'
# replace 'l' with 'L'
string1.replace('l','LLLLL')

'weLLLLLcome'

In [31]:
string1='restart'
# replace 'r' with '$'
string1.replace('r', '$')

'$esta$t'

In [38]:
string1='restart   rrrr'
# replace 'r' with '$'
string1.replace('r', '$',-1)

'$esta$t   $$$$'

In [39]:
len(string1)
max(string1)    # string1.max()

't'

In [1]:
string1='restart'
# o/p: 'restart'

# do only with what we completed till now
string1.replace('r','t')

'testatt'

In [48]:
string1='restart'
s1=string1[0]
s2=string1[1:].replace('r','$')
s1+s2

'resta$t'

In [50]:
string1[::-1].replace('r','$')[::-1]

'$esta$t'

$INDEX$

In [55]:
string1='welcome python'
# index of 'z'
string1.index('c')

3

In [56]:
string1.index('z')  # substring is not found

ValueError: substring not found

In [61]:
string1='hai how are you and'
# how many 'a' are there
# what are the indexex of 'a'

count=0
for i in string1:
    if i=='a':
        count+=1
    
print(count)

string1.count('a')

3

3

In [63]:
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)

1
8
16

In [64]:
string1.index('a')    # only fisrt occurence

1

In [85]:
string1='hai hai hai'
i1(string1.index('a'))    # 1
i2(string1.index('a',i1+1))   # first occurence of 'a' is 1
i3(string1.index('a',i2+1))
i4(string1.index('a',i3+1))
i5(string1.index('a',i4+1))
print(i1,i2,i3,i4,i5)

NameError: name 'i1' is not defined

In [86]:
string1='hai hai hai hai hai'
# i want to fisrt occurence of 'a'
string1.index('a')
# second occurence of 'a'
string1.index('a',i1+1)
string1.index('a',i2+1)

NameError: name 'i1' is not defined

In [77]:
string1.index("a",string1.index("a"+1))

TypeError: can only concatenate str (not "int") to str

In [89]:
# function in function
for i in string1:
    if i=='a':
        index=string1.index(i)
        print(string1.index(i,index+1))

5
5
5
5
5

In [94]:
stringa='welcome hello'
string1.index('l')
string1.index('l',syring1.index('l')+1)
string1.index('l'string1.index('l',string1.index)

ValueError: substring not found

$FIND$

In [ ]:
# take one string1
# string1().find()
# apply shift+tab
# read what it is says
# implement that

In [100]:
string1='hai and hai'
string1.find('z')     # no error

# if substring not found it return -1
string1.index('z')
# valueerror: substring not found
string1.count('z')

ValueError: substring not found

In [ ]:
- capitalize/upper/lower/casefold
- index/find
- count
-replace

In [1]:
str1='hai how are you, in good'
str1.index('i')   # first occurence

2

In [2]:
str1.index('i',str1.index('i')+1)

17

$STRIP$-$LSTRIP$-$RSTRIP$

In [137]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "
# i want to remove the spaces
# if you want to remove the spaces both side use strip method
# if you want to remove the spaces only left side then use Lstrip:Left strip 
# if you want to remove the spaces only right side then use Rstrip:Right strip

In [138]:
str1

' hello how are you '

In [139]:
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

hello how are you
hello how are you
 hello how are you

In [130]:
print(str2)

hello how are you

In [131]:
print(str2.lstrip())

hello how are you

In [132]:
print(str3)

hello how are you

In [134]:
str3

'hello how are you'

In [140]:
# wap extract 
 
str1='python.anaconda@nareshit.com'
# extract first name: python
# extract second name: anaconda
# extract company name:nareshit

first_name=str1.strip("python")
second_name=str2.strip("anaconda")
company_name=str3.strip("nareshit")
print("extract first name{}:".format(first_name))
print("extract second name{}:".format(second_name))
print("extract company name{}:".format(company_name))

extract first name.anaconda@nareshit.com:
extract second name hello how are you:
extract company namello how are you :

In [144]:
# wap extract 
 
str1='python.anaconda@nareshit.com'
# extract first name: python
# extract second name: anaconda
# extract company name:nareshit


str1.find('.')

str1[0:str1.find('.')]

'python'

In [28]:
str1[0:6],str1[7:15],str1[16:24]
str1.find('@')

15

In [32]:
str1[0:str1.find('-')]
str1[0:6]

'python'

In [29]:
str1[0:str1.find('')]
str1[7:15]

'anaconda'

In [31]:
str1[0:str1.find('-')]
str1[16:24]

'nareshit'

In [5]:
str1='python.anaconda@nareshit.com'
first_name=str1.strip('-')[0:6]
second_name=str1.strip('-'),strip('@')['-']
company_name=str1.strip('@')[2],str1('-')[16:24]
print("extract first_name:".format(first_name))
print("extract second_name:".format(second_name))
print("extract company_name:".format(company_name))

NameError: name 'strip' is not defined

In [41]:
str1='python.anaconda@nareshit.com'
first_dot=str1.index('.')
second_dot=str1.index('.',first_dot+1)
str1[str1.find('@')+1:second_dot]

'nareshit'

In [44]:
str1='3.1489'
# exctrat 3
# extract 1489

str1='3.1489'
str1[str1.index
str1[str1.index('.')+1:]

In [47]:
str1[0]

'3'

In [49]:
str1.index('.')-1

0

$STARTSWITH-ENDSWITH$

In [50]:
str1='hai how are you'

In [51]:
str1.startswith('hai')
str1.startswith('h')

True

In [52]:
str1.endswith('you')

True

In [54]:
str1.startswith(str1)

str1.endswith(str1)

True

In [55]:
dir('')
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [66]:
str1='123 pgr 123 pag'
str1.isalnum()

False

In [64]:
str1='abc'
str1.isalpha()

True

In [59]:
str1='isascii'
str1.isascii()

True

In [71]:
str1='abc'
str2='123'
str3='abc123'
str4='ABC'
str5='abc'
'isalpha'
'isnumeric'
'isalnum'
'isupper'
'islower'

'islower'

$SPLIT$

In [73]:
str1='hai how are you'
str1.split()
# if i not provide anything inside bracke
# output is in list format

['hai', 'how', 'are', 'you']

In [74]:
str1='hai how are you'
str1.split('a')

['h', 'i how ', 're you']

In [76]:
str1='hai how are you'
str1.split('o')

['hai h', 'w are y', 'u']

In [ ]:
- capitalize/upper/lower/casefold
- index/find
- count
- replace
- lstrip/rstrip/strip
- startswith/endswith
- isalpha/isnumeris/isalnum
- split

In [ ]:
# wap toidentify the longest word and shortest word in a given sentence
# wap to identify the most reputed wors in a given stentence
# wap out of 3 strings 'hyd','blr','mumbai' which is greater and which lower

In [ ]:
basic python==== assignment
certication



writeup on list

- how to read the strings
- single quotes/double quotes/triple quote
- doc string
- Type
- Max
- Min
- Len
- addition of two strings(concatenation)
- multiplication
- division
- inoperator(For loop)
- index
- mutable conditiomn
- Slice
- strings method
    -capitalize/upper/lower/casefold
    - index/find
    - count
    - replace
    - lstrip/rstrip/strip
    - startswith/endswith
    - isalpha/isnumeris/isalnum
    - split

$APPEND$

In [1]:
# add (something) to the end of a written document

list1=[100,200]
# [100,200,300]
list1.append(300)
list1

[100, 200, 300]

In [2]:
list1.append('apple')

In [3]:
list1

[100, 200, 300, 'apple']

In [4]:
# input list=[1,2,3,4,5]
# create a new list=[1,4,9,16,25]


# write normal python code
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)
    
# i dont want print the value, i want to ssave the output

1
4
9
16
25

In [7]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
    
    
output

[1, 4, 9, 16, 25]

In [ ]:
list2=['hyd','bengaluru','delhi']

In [32]:
list2=['hyd','bengaluru','delhi']
output=[]
for i in list2:
    print(i.capitalize())
list2

Hyd
Bengaluru
Delhi

['hyd', 'bengaluru', 'delhi']

In [33]:
list2=['hyd','bengaluru','delhi']
for i in list2:
    print(i.capitalize())

Hyd
Bengaluru
Delhi

In [35]:
list3=['h#d','beng#luru','delhi']
output=[]
for i in list3:
    output.append(i)
output

['h#d', 'beng#luru', 'delhi']

$LIST COMPREHENSION$

In [36]:
# code in a single line =====> speed the process
list1=[1,2,3,4,5]

output=[]
for i in list1:
    output.append(i*i)
    
output


# step-1: intilaized the list ouput=[]
# step-2: iterate the loop
# step-3: you save the output

output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [39]:
list1=[1,2,3,4,5]
output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [38]:
list2=['hyd','bengaluru','delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
output

output1=[i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [41]:
# create the list of 20 number from 1 to 20
**
method-1** 

for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [45]:
**method--2**

numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers

numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [46]:
**method--3**

numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [49]:
# list comprehension with if condition

list3=['h#d','beng#luru','delhi']
output=[]
for i in list3:
    if '#' in i:
        output.append(i)
output

# [<o/p> <for loop> <if_condition>]
output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [44]:
list4=['abcd','abc','ac','a']
# element less than 3
# ['ac','a']


output=[]
for i in list4:
    if i in <=3:
        output.append(i)
output

# [<o/p> <for loop> <if_condition>]
output=[i for i in list4 if 'i'<=3]
output

SyntaxError: invalid syntax (738882814.py, line 8)

In [53]:
# if else

list1=[1,2,3,4,5]

for i in list1:
    if i%2==0:
        print("even:{}".format(i))
    else:
        print("odd:{}".format(i))

odd:1
even:2
odd:3
even:4
odd:5

In [54]:
list1=[1,2,3,4,5]

output=[]

for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
        
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5']

In [45]:
# [<if_output>  <if_condition> else <else_output>  <for_loop>]
["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5']

$COUNT$

In [61]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [62]:
count=0
for i in list1:
    if i=='B':
        count=count+1
print(count)

3

$EXTEND$

In [64]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1

# here the list1 will be updated with list2 values

['A', 'B', 'C', 1, 2, 3]

In [71]:
list1=['A','B','C']
list2=[1,2,3]
list1+list2

print(list1)

['A', 'B', 'C']

In [72]:
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2)
list1

['A', 'B', 'C', [1, 2, 3]]

****APPEND****  VS ***EXEND***  VS  ***CONCAT***

- append will be the element at last, that element can be any type

    - list1=[1,2,3]
    - list2=['A','B']
    - list1.extend(list2)=(1,2,3,['A','B'])
    
- extend will update the list by adding new element, the result also save in a same list
    
    - list1=[1,2,3]
    - list2=['A','B']
    - list1.extend(list2)=(1,2,3,'A','B')
    
- concat wii add two list, but the result will not update in a same list
   
    - list1=[1,2,3]
    - list2=['A','B']
    - list1+list2=(1,2,3,'A','B')

$ITERATOR$

. Iterator word ======> loop

. The element we can print using for loop

. string='python' we can print each letter using for loop

. list1=[1,2,3] we can print each element using for loop

In [73]:
val=reversed('python')
val

In [74]:
for i in val:
    print(i)

n
o
h
t
y
p

In [75]:
list1=[1,2,3]
list1.extend([1,2,3,4])
list1

[1, 2, 3, 1, 2, 3, 4]

In [76]:
list1=[1,2,3]
list1.extend(['python'])
list1

[1, 2, 3, 'python']

In [79]:
list1=[1,2,3]
list1.extend('python')
list1.append(['python'])
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', ['python']]

$POP$ -- $REMOVE$ -- $DEL$

In [59]:
list1=[1,2,3,'A','B','B','B','C']

In [60]:
list1.pop(4)

'B'

In [61]:
list1

[1, 2, 3, 'A', 'B', 'B', 'C']

In [72]:
list1
list1.pop(1)


# in side brackets default arguments is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index, it will remove that element

# it also returning, which element it is removing

'A'

In [87]:
list1=[100,200,100,300]    # duplicates are allowed
list1.remove(100)             # first occurence will gone
list1                      # it will not return any value

[200, 100, 300]

In [90]:
del(list1)

In [91]:
list1

NameError: name 'list1' is not defined

In [92]:
list1=[100,200,100,300]
del list1[2]

list1

[100, 200, 300]

- index  vs multiple values
- insert  vs append
- reverse ascending and descending ====== reversed
- sort ======= sorted
- differnece between reverse and sort

-- get all the differneces

In [105]:
list1=[100,200,300]
list1.insert(100,200)
list1

[100, 200, 300, 200]

In [107]:
list1=[100,200,300]
list1.reverse()
list1

[300, 200, 100]

In [110]:
list1=[200,100,300]
list1.sort()
list1

[100, 200, 300]

In [73]:
list1=[100,200,300,400]
list1.index(300)

2

$ZIP$

In [115]:
list1=['RAM','ROBERT','RAHEEM']
list2=[25,30,35]
 
# ram age is 25
# robert age is 30
# raheem age is 35

for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

RAM age is 25
ROBERT age is 30
RAHEEM age is 35

In [123]:
list1=[100,200,300]
list2=[25,30,35]

output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [9]:
# take 5 questions in list1
# take corresponding 5 answers in another list1
# iterate through list1
# every question should print
# answer=input("tell the answer")
# answer will check in list2
# if it is there: marks=marks+1
# else: no marks

# how many write answers you made, how many answers you got

###########################################################
# list1=['who is pm od india','what is the capital of india','who is prsident of india']
# list2=['modi','delhi','draupadi']
# marks=0
# correct_answer=0
# for i in range(len(list1)):
# for i in list:
#   print('q1:'<>)
#   answer=input("enter the answer")
#   if answer.lower()==list2.index(i):
#        marks+=1



list1=['who is pm of india','what is the capital of india','who is prsident of india']
list2=['modi','delhi','draupadi']
marks=0


for i in range(len(list1)):
    print(list1[i])
    
    
    answer=input("enter the answer")
    if answer.capitalize()==list2[i]:
        marks+=1
print("enter your total obtain marks is:",marks)

who is pm of india
enter the answermodi
what is the capital of india
enter the answerdelhi
who is prsident of india
enter the answerdraupadi
enter your total obtain marks is: 0

In [1]:
import numpy

In [5]:
# wap to find the maximum value without using max keyword
list=[100,120,130]


def find_max(list):
    max_value=list[0]
    for num in list:                              ##
        if num>max_value:
            max_value=num
    return max_value

result=find_max(list)
print("max_value is {}:".format(result))

max_value is 130:

In [10]:
list=[100,120,130]
max_value=0
for num in list:
    if num>max_value:
        max_value=num
print("max value in the list is{}:".format(max_value))

max value in the list is130:

In [ ]:
list=[20,30,50,60,100,90,70,50,30]

list=[1,2,3,10,9,8,6] the pattern is matching
list
=[10,9,50,30,20,]